* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(0, 122, 204) !important;
}

ul {
    list-style: none;
   
}

ul li {
    padding: 15px;
    display: inline-block;
    margin-right: 10px;
    color: rgb(5, 21, 71);
    
}

ol li {
    list-style: none;
    text-align: left;
    color: rgb(5, 21, 71);
    margin: 10px;
}

hr {
    border-bottom: solid 1px black;
}

.listGroup li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin:  10px auto;
    padding: 10px;
}

#cssToDiv {
    margin-bottom: 20px ;
    font-size: 40px;
    font-weight: bold;
    color: rgb(100, 174, 203) !important;
}

.styleToImage {
    height: auto;
    width: 100%;
}

.cssToEnquireButton {
    background-color: rgb(0, 51, 102);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    color: white;
    margin-top: 10px;
}

.cssToCard {
    padding: 20px 15px;
    background-color: rgb(218, 228, 248);
    border-radius: 25px;
    text-align: left;
    margin-bottom: 25px;
}

.cssToCard h3 {
    margin: 10px 0px 25px;
    font-weight: bold;
}

h2 {
    text-align: center !important;
    color: rgb(0, 122, 204) !important;
    text-decoration: underline;
}

td {
    font-size: 18px;
    color: rgb(73, 71, 71);
    font-weight: bold;
}
.cssToTableData{
    color: white;
    text-align: left;
    margin-left:5px; 
    width: 2%;
}

.cssToTableDataText{
    
    width: 17%;
    color: white;
    text-align: left;
    margin-left:5px; 
}
.cssToSendButton {
    width: 100px;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    background-color: rgb(0, 51, 102) !important;
    border-radius: 5px;
    padding: 5px 10px;
}

input[type='text'] {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(182, 179, 179);
}

input[type='tel'] {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(182, 179, 179);
}

input[type='email'] {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(182, 179, 179);
}

.input .cssToInput {
    height: 80px;
}
.cssToTableInfo{
    width: 4%;
}

.cssToTableInfoCol{
    width:1%;
    text-align:center;
}
.cssToTableInfoNextCol{
    width: 0.5%;
}

footer {
    background-color: white;
    bottom: 0;
    width: 30%;
    position: fixed;
    
}
.cssTabledata{
    width: 8%;
}
.cssToRow{
    height: 50px;
}
#cssToWeb{
    font-size: 20px;
    color: rgb(0, 122, 204) !important;
}
#cssToReference{
   
    margin-bottom: 80px;
    background-color: skyblue;
}
#cssToAnchor{
   color: rgb(0, 51, 102);
   font-size: 20px;
   font-weight: bold;
}
#card{
   background-color:rgb (218, 228, 248);
   margin: auto;
   width: 30%; 
}
#cssToInfo{
    padding: 30px;
    background-color: rgb(0, 51, 102);
    color: white;
}
#cssToInfo ol li{
    color: white;
    font-weight: bold;
}
#cssToAddContact{
    margin: 10px 0px;
    height: 50px;
    width: 24%;
    background-color: white;
    color:rgb(100, 174, 203) ;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;

}

